:root {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  margin: 0;
  background-image: url("/blue-sky.jpeg");
  background-size: cover;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.page{
  display: flex;
}
.inputSections{
  display: flex;
  flex-direction: column;
}
.section{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(255 255 255 / 75%), rgb(45 141 203 / 75%));
  margin: 2em;
  padding: 2em;
  border: 1px outset #a4a4a49e;
  border-radius: 1em;
}
.inputField{
  display: flex;
}
input {
  margin: 1em;
  flex: 1;
  border: none;
  border-radius: 0.25em;
}
.CV{
  display: flex;
  flex-direction: column;
  background: white;
  margin: 2em;
  padding: 2em;
  border: 1px outset #a4a4a49e;
  border-radius: 0.5em;
  width: 50vw;
}
